/*paleta https://coolors.co/006d77-183939-83c5be-edf6f9-ffddd2-e29578 */
/* GLOBAL */
* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f6e7; }

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 3rem; }

a:hover {
  text-decoration: none; }

b {
  font-weight: 600; }

.row {
  margin-left: 0;
  margin-right: 0; }

/* HOME */
.botonVolver {
  z-index: 10000;
  padding: 15px 70px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid grey;
  display: inline-block;
  position: sticky;
  top: 95%;
  left: 45%;
  text-decoration: none;
  height: 100px;
  color: black; }

.landing {
  height: 100vh; }

.logo {
  color: #b87777;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 100;
  letter-spacing: 7px;
  text-align: center;
  font-size: 4em; }
  .logo:hover {
    color: #723b39; }

.ramita {
  animation: animacionRamita 2s;
  animation-fill-mode: forwards;
  margin-left: 20px;
  max-height: 100px; }

/* TARJETA */
.card {
  border-radius: 1.6rem;
  border: none;
  animation: apareceYSube 0.7s; }

.fotoBio {
  border-radius: 1.6rem; }

.linksInicio {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  padding: 3px; }
  .linksInicio:hover {
    box-shadow: 1px 1px 10px black;
    animation: fotoCrece;
    transition: 2s;
    height: auto;
    z-index: 10; }

.sobreimpreso {
  position: absolute;
  bottom: 0;
  left: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.4); }

/* SEPARADOR */
.citaBio {
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 1.4rem; }

.cita {
  padding: 0;
  margin-bottom: 0;
  font-style: oblique; }

.titulo h2 {
  font-size: 5rem;
  font-weight: 100; }

.texto {
  line-height: 1.7rem;
  font-size: 1.3rem;
  align-items: center;
  background-color: rgba(160, 63, 63, 0.1); }

.tiraImagenes {
  height: 20vh; }

.contenedor {
  display: flex;
  align-items: center; }

#fruto {
  background: url("../img/fruto/fruto (4).jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white; }

#tintes {
  background: url("../img/fondoTintes.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 70vh;
  color: white; }

.destacado {
  font-weight: 400;
  font-style: oblique;
  font-size: 1.5rem;
  z-index: 1000; }

.imagen {
  object-fit: cover;
  width: 100%;
  max-height: 300px; }
  .imagen:hover {
    box-shadow: 1px 1px 10px black;
    transform: scale(1.02);
    transition: all 0.3s;
    z-index: 10; }

.imagen-conflictiva {
  height: 100%;
  object-fit: cover; }

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 30px; }
  .whatsapp a {
    text-decoration: none;
    color: green; }
    .whatsapp a:visited {
      color: inherit; }

/* KEYFRAMES */
@keyframes "animacionRamita" {
  100% {
    transform: scale(1.2) translate(20px) rotate(25deg);
    transition: 2s; } }

@keyframes "apareceYSube" {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes "fotoCrece" {
  0% {
    object-fit: cover; }
  100% {
    object-fit: scale-down; } }
